img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
 
}

button{
    color: crimson;
}

.container{
  text-align: center;
}

#api{
    margin-top: 50px;
}